.dashboard {
  padding: 20px;
}

.hero {
  margin-bottom: 60px;
}

.stats {
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}

.card {
  flex: 1;
  padding: 14px;
  border-radius: 12px;
  background: rgba(255,255,255,0.1);
}

.primary-btn {
  display: block;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  background: #22c55e;
  color: #052e16;
  margin-bottom: 20px;
}
