* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
    background-color: #254323;
    color: #fff;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #677175fe;
}

nav ul li a.active {
    color: #677175fe;
    border-bottom: 2px solid #677175fe;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    height: 66px;
    width: auto;
    object-fit: contain;
    padding-right: 3px;
}

.name{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    padding-left: 3px;
}
main {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
